.about-container {
	width:                 100%;
	display:               grid;
	grid-template-columns: 1fr 2fr;
}

@media (orientation: landscape) {
	.about-container {
		display:               grid;
		grid-template-columns: 1fr 2fr;
	}
}

@media (orientation: portrait) {
	.about-container {
		display:        flex;
		aspect-ratio:   auto;
		flex-direction: column;
	}
}

.about-photo-container {
	aspect-ratio:  1/1;
	padding:       2rem;
	background:    linear-gradient(var(--Background-Light) 0%, var(--Background-Dark) 100%);
	margin-right:  0.1rem;
	border-radius: calc(1rem / 3) 0rem 0 calc(1rem / 3);

}

@media (orientation: portrait) {
	.about-photo-container {
		padding:      0.5rem 0.5rem 0rem 0.5rem;
		margin-right: 0rem;
		margin-bottom: 0.2rem;
	}
}

@media (orientation: landscape) {
	.about-photo-container {
		padding:       2rem;
		margin-right:  0.15rem;
		margin-bottom: 0rem;
	}
}

.about-content-container {
	display:        flex;
	flex-direction: column;
	height:         100%;
	width:          100%;
	background:     linear-gradient(var(--Background-Light) 0%, var(--Background-Dark) 100%);
	border-radius: 0rem calc(1rem / 3) calc(1rem / 3) 0rem;
}

@media (orientation: landscape) {
	.about-content-container {
		border-radius: 0rem calc(1rem / 3) calc(1rem / 3) 0rem;
	}
}

@media (orientation: portrait) {
	.about-content-container {
		border-radius: calc(1rem / 3);
	}
}

.about-navigation {
	font-family:   "160MKSDAL", sans-serif;
	font-weight:   bold;
	width:         100%;
	height:        10%;
	border-radius: 0rem;
	border-bottom: 0.15rem solid var(--Container-Background);
	display:       flex;
}

@media (orientation: landscape) {
	.about-navigation {
		border-left:   none;
		border-top:    none;
		border-right:  none;
		border-bottom: 0.15rem solid var(--Container-Background);
		border-radius: 0rem;

	}
}

@media (orientation: portrait) {
	.about-navigation {
		border-left:   0.5rem solid var(--Button-Light);
		border-top:    0.5rem solid var(--Button-Light);
		border-right:  0.5rem solid var(--Button-Light);
		border-bottom: none;
		border-radius: calc(1rem / 3);

	}
}

.about-navigation-button-selected {
	flex:             1;
	background-color: var(--Container-Background);
	pointer-events:   none;
}

.about-navigation-button-selected::before {
	content: "[";
}

.about-navigation-button-selected::after {
	content: "]";
}

.about-navigation-button-unselected {
	flex:             1;
	background-color: transparent;
}

@media (orientation: portrait) {
	.about-navigation-button-selected {
		padding: 0.5rem 0rem;
	}

	.about-navigation-button-unselected {
		padding: 0.5rem 0rem;
	}
}

@media (orientation: landscape) {
	.about-navigation-button-selected {
		padding: 0rem;
	}

	.about-navigation-button-unselected {
		padding: 0rem;
	}
}

.about-text {
	width:         100%;
	height:        90%; /* -10% to match nav buttons spacing on the bottom */
	padding:       1rem 1rem 0rem 1rem;
	text-overflow: ellipsis;
}

@media (orientation: landscape) {
	.about-text {
		padding: 1rem 1rem 0rem 1rem;
		height:  90%;
	}
}

@media (orientation: portrait) {
	.about-text {
		padding: 0.5rem;
		height:  100%;
	}
}

.about-text-middle-container-link-container {
	width:           100%;
	height:          10%;
	display:         flex;
	padding:         0rem 0.75rem;
	justify-content: space-around;
	text-align:      center;
	align-items:     center;
}

.about-text-middle-container-link-button {
	width:   100%;
	height:  2rem;
	display: flex;
}

.about-text-inner-container {
	padding:       0.5rem;
	flex:          1;
	height:        100%;
	width:         100%;
	text-overflow: ellipsis;
}