@font-face {
	font-family: "160MKSDAL";
	src:         url("../project_assets/160MKSDAL Regular.ttf");
}

:root {
	/* Color Scheme */
	--Custom-Black:       rgb(20, 20, 20);
	--Custom-Dark-Blue:   rgb(37, 57, 87);
	--Custom-Blue:        rgb(33, 72, 99);
	--Custom-Teal:        rgb(21, 88, 120);
	--Custom-Gray:        rgb(112, 114, 115);
	--Custom-Light-Gray:  rgb(195, 196, 196);
	/* Interface Colors */
	--Interface-Light:    rgb(142, 156, 179);
	--Interface-Medium:   rgb(56, 71, 103);
	--Interface-Dark:     rgb(35, 47, 68);
	/* Text */
	--Text:               rgb(182, 198, 224);
	/* Button Colors */
	--Button-Dark:        rgb(37, 57, 87);
	--Button-Light:       rgb(56, 71, 103);
	--Button-Hover-Dark:  rgb(168, 138, 88);
	--Button-Hover-Light: rgb(187, 152, 104);
	/* Default Values*/
	--Default-Border:     calc(1rem / 3);

	/* Everything Else */
	min-height:           100vh;
	min-width:            99vw;
	margin:               0;
	background:           linear-gradient(var(--Interface-Medium) 0%, var(--Interface-Dark) 100%) fixed;
	z-index:              2;
	scroll-behavior:      smooth;
}

* {
	box-sizing: border-box;
	color:      var(--Text);
}

body {
	margin:          0;
	display:         flex;
	justify-content: center;
	align-items:     center;
	font-family:     Calibri, sans-serif, monospace;
	color:           var(--Text);
}


.main-container {
	--LargeWidthTargetValue:      1920px;
	--LargeWidthTargetPercentage: 50%;

	--SmallWidthTargetValue:      600px;
	--SmallWidthTargetPercentage: 100%;

	width:                        50%;
	min-height:                   100vh;
	background-color: var(--Interface-Light);
	display:                      flex;
	flex-direction:               column;
	justify-content:              flex-start;
	align-items:                  center;
	padding:                      0.5rem;
	border-radius:                calc(1rem / 3);
	margin:                       0.25rem 0rem;
}

@media (min-width: 1920px) or (orientation: landscape) {
	.main-container {
		width: 55%;
	}
}

@media (max-width: 1919px) and (min-width: 1081px) and (orientation: landscape) {
	/*
	MinWidthPx:    1080;
	MinWidthRatio: 1.00;
	MaxWidthPx:    1920;
	MaxWidthRatio: 0.55;
	https://www.geogebra.org/
	Point 1: (MinPX, MinVW * MinPX)
	Point 2: (MaxPx, MaxVW * MaxPx)
	--Y:             0.09;
	--B:             987px;
	*/
	.main-container {
		width: calc(-0.03 * 100vw + 1110px); /* linear equation for smooth zooming form 50-100 vw*/
		/* width: calc(0.09 * 100vw + 987px); /* linear equation for smooth zooming form 60-100 vw */
	}
}

@media (max-width: 1080px) or (orientation: portrait) {
	.main-container {
		width: 100%;
	}
}

img {
	border: calc(5px / 3) solid var(--Interface-Light);
	width:         100%;
	border-radius: calc(1rem / 3);
}

button {
	border:          none;
	text-align:      center;
	display:         flex;
	justify-content: center;
	align-items:     center;
	text-transform:  uppercase;
	letter-spacing:  0.2rem;
	color:           ghostwhite;
	font-family:     "160MKSDAL", sans-serif;
	font-weight:     bold;
	width:           100%;
}

/*
// Soon (TM)
a.header-link{
	font-family:    "160MKSDAL", sans-serif;
	color:          ghostwhite;
	text-transform: uppercase;
}

a::after {
	font-size: 0.5rem;
	vertical-align: super;
	content: "🔗";
	text-decoration: none;
}
*/

.feature-toggle-button {
	min-height:       2rem;
	background-color: transparent;
	border: 0.1rem solid var(--Interface-Light);
	border-radius:    calc(1rem / 3);
	transition:       color 250ms, background-color 500ms;
}

.feature-toggle-button:hover {
	color: var(--Interface-Light);
}

.feature-toggle-button:hover::before {
	content: "";
}

.feature-toggle-button:hover::after {
	content: "";
}

.feature-toggle-button.enabled {
	background-color: var(--Interface-Light);
	border:           0.1rem solid var(--Interface-Light);
}

.feature-toggle-button.enabled:hover {
	color:      var(--Custom-Dark-Blue);
	transition: color 250ms, background-color 500ms;
}

.logotype {
	margin-top:    2.25rem;
	margin-bottom: 2.25rem;
	width:         75%;
}

.banner-photo {
	margin-bottom: 0.25rem;
	border-radius: calc(1rem / 3);
}

.decoration-photo {
	display:       block;
	border-radius: calc(1rem / 3);
}

@media (orientation: landscape) {
	.logotype {
		margin-top:    2.25rem;
		margin-bottom: 2.25rem;
		width:         75%;
	}

	.decoration-photo {
		display: block;
	}
}

@media (orientation: portrait) {
	.logotype {
		margin-top:    0.25rem;
		margin-bottom: 0.25rem;
		width:         100%;
	}

	.decoration-photo {
		display: none;
	}
}

.navbar-outer-container {
	display:          flex;
	flex-direction:   column;
	justify-content:  center;
	align-items:      center;
	width:            100%;
	padding:          0.25rem 0rem;
	background-color: var(--Interface-Light);
	position:         sticky;
	top:              0;
}

@media (orientation: landscape) {
	.navbar-outer-container {
		display: flex;
	}
}

@media (orientation: portrait) {
	.navbar-outer-container {
		display: none;
	}
}

.navbar-inner-container {
	display:          flex;
	justify-content:  space-between;
	align-items:      center;
	width:            100%;
	background-color: var(--Custom-Dark-Blue);
	position:         sticky;
	padding:          0.5rem;
	top:              0;
	gap:              0.5rem;
	border-radius:    calc(1rem / 3);
}

.navbar-header-text {
	flex:        1;
	width:       100%;
	text-align:  left;
	font-size:   25px;
	font-family: "160MKSDAL", sans-serif;
	color:       ghostwhite;
}

@media (orientation: landscape) {
	.navbar-header-text {
		display: none;
	}
}

@media (orientation: portrait) {
	.navbar-header-text {
		display: block;
	}
}

.navbar-button {
	border:           solid black 1px;
	background-color: var(--Custom-Black);
	z-index:          1;
	position:         relative;
	flex:             1;
	min-height:       2rem;
	border-radius:    calc(1rem / 3);
	overflow:         hidden;
}

.navbar-button-gradient {
	position:   absolute;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	background: linear-gradient(45deg,
	var(--Button-Dark) 0%,
	transparent 33.3%,
	var(--Button-Light) 33.3%,
	transparent 50%,
	var(--Button-Light) 66.6%,
	transparent 66.6%,
	var(--Button-Dark) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Dark) 0%,
			transparent 33.3%,
			var(--Button-Light) 33.3%,
			transparent 50%,
			var(--Button-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Dark) 100%) no-repeat;
}

@media (orientation: portrait) {
	.navbar-button-gradient {
		background: linear-gradient(45deg,
		var(--Button-Dark) 0%,
		transparent 25%,
		var(--Button-Light) 25%,
		transparent 50%,
		var(--Button-Light) 75%,
		transparent 75%,
		var(--Button-Dark) 100%) no-repeat,
		            linear-gradient(135deg,
				var(--Button-Dark) 0%,
				transparent 25%,
				var(--Button-Light) 25%,
				transparent 50%,
				var(--Button-Light) 75%,
				transparent 75%,
				var(--Button-Dark) 100%) no-repeat;
	}
}

.navbar-button-text {
	z-index:        1;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color:          ghostwhite;
	pointer-events: none;
}

button:hover, button:active {
	cursor: pointer;
}

button:hover::before, button:active::before {
	z-index: 1;
	content: ">>";
}

button:hover::after, button:active::after {
	z-index: 1;
	content: "<<";
}

button:hover .navbar-button-gradient {
	background: linear-gradient(45deg,
	var(--Button-Hover-Dark) 0%,
	transparent 33.3%,
	var(--Button-Hover-Light) 33.3%,
	transparent 50%,
	var(--Button-Hover-Dark) 66.6%,
	transparent 66.6%,
	var(--Button-Hover-Light) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Hover-Dark) 0%,
			transparent 33.3%,
			var(--Button-Hover-Light) 33.3%,
			transparent 50%,
			var(--Button-Hover-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Hover-Dark) 100%) no-repeat;

}

.section-header {
	width:             100%;
	font-family:       "160MKSDAL", sans-serif;
	text-transform:    lowercase;
	scroll-margin-top: 1.75rem;
	background: linear-gradient(-90deg, var(--Interface-Medium) 0%, var(--Interface-Dark) 100%);
	padding:           0.25rem 0rem 0.25rem 0.5rem;
	margin-bottom:     0.25rem;
	border-radius:     calc(1rem / 3);
}

.section-header::before {
	content: "// ";
}

hr {
	height:     0.1rem;
	border:     none;
	background: var(--Interface-Light);
}

