.photography-outer-container {
	width:         100%;
	background:    linear-gradient(var(--Interface-Medium) 0%, var(--Interface-Dark) 100%);
	padding:       0.5rem 0.5rem 0.5rem 0.5rem;
	overflow-x:    hidden;
	border-radius: var(--Default-Border);
}

.photography-navigation {
	width:                 100%;
	height:                2rem;
	display:               grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom:        0.5rem;
}

.photography-navigation-divider {
	background: linear-gradient(90deg, var(--Interface-Medium) 25%, var(--Interface-Light) 100%);
}

.photography-navigation-divider.flipped {
	background: linear-gradient(270deg, var(--Interface-Medium) 25%, var(--Interface-Light) 100%);
}

.photography-navigation-button {
	flex:             1;
	background-color: transparent;
}

.photography-navigation-button.selected {
	background-color: var(--Interface-Light);
	pointer-events:   none;
}

.photography-navigation-button.left {
	border-radius: var(--Default-Border) 0 0 var(--Default-Border);
}

.photography-navigation-button.right {
	border-radius: 0 var(--Default-Border) var(--Default-Border) 0;
}

.photography-navigation-button.selected::before {
	content: "[";
}

.photography-navigation-button.selected::after {
	content: "]";
}

.photography-inner-container {
	width:            100%;
	display:          flex;
	flex-direction:   row;
	scrollbar-color: var(--Interface-Light) var(--Interface-Medium);
	overflow-x:       scroll;
	scroll-snap-type: x mandatory;
	gap:              0.5rem;
	padding-bottom:   0.5rem;
}

.photography-column {
	min-width:      25%;
	min-height:     100%;
	display:        flex;
	flex-direction: column;
	gap:            0.5rem;
}

@media (orientation: landscape) {
	.photography-column {
		min-width: 25%;
	}
}

@media (orientation: portrait) {
	.photography-column {
		min-width: 50%;
	}
}