.projects-container {
	width:                 100%;
	display:               grid;
	grid-template-columns: repeat(2, 1fr);
	gap:                   0.5rem;
	padding:               0.5rem;
	background-color:      var(--Custom-Dark-Blue);
	align-items:           stretch;
	border-radius:         calc(1rem / 3);
}

@media (orientation: portrait) {
	.projects-container {
		display:        flex;
		flex-direction: column;
		align-items:    normal;
	}
}

@media (orientation: landscape) {
	.projects-container {
		display:               grid;
		grid-template-columns: repeat(2, 1fr);
		align-items:           stretch;
	}
}

.project-container {
	width:            100%;
	height:           100%;
	background-color: var(--Interface-Light);
	padding:          0.25rem;
	overflow:         hidden;
	display:          flex;
	flex-direction:   column;
	border-radius:    calc(1rem / 3);
}

.project-content-container {
	flex-grow:      1;
	width:          100%;
	padding:        1rem;
	display:        flex;
	flex-direction: column;
	background: linear-gradient(var(--Interface-Medium) 0%, var(--Interface-Dark) 100%);
	border-radius:  calc(1rem / 3);
}

.project-header-container {
	display:         flex;
	justify-content: space-between;
	width:           100%;
	padding:         0.25rem 0rem 0.25rem 0rem;
}

.project-header-text {
	font-family:    "160MKSDAL", sans-serif;
	color:          ghostwhite;
	text-transform: uppercase;
}

.project-image {
	width:           100%;
	aspect-ratio:    4/3;
	object-fit:      cover;
	object-position: center;
}

.project-text-container {
	display:         flex;
	width:           100%;
	height:          100%;
	justify-content: space-between;
	flex-direction:  column
}

.project-text {
	padding-top: 0.5rem;
	width:       100%;
}