@font-face {
	font-family: "160MKSDAL";
	src:         url("../project_assets/160MKSDAL Regular.ttf");
}

:root {
	/* Color Scheme */
	--CustomBlack:               rgb(20, 20, 20);
	--CustomDarkBlue:            rgb(37, 57, 87);
	--CustomBlue:                rgb(33, 72, 99);
	--CustomTeal:                rgb(21, 88, 120);
	--CustomGray:                rgb(112, 114, 115);
	--CustomLightGray:           rgb(195, 196, 196);
	/* Interface Colors */
	--CustomContainerBackground: rgb(142, 156, 179);
	--CustomTextColor:           rgb(182, 198, 224);
	--CustomBackgroundTop:       rgb(56, 71, 103);
	--CustomBackgroundBottom:    rgb(35, 47, 68);
	/* Button Colors */
	--Button-Dark:               rgb(37, 57, 87);
	--Button-Light:              rgb(56, 71, 103);
	--Button-Hover-Dark:         rgb(168, 138, 88);
	--Button-Hover-Light:        rgb(187, 152, 104);
	/* Everything Else */
	min-height:                  100vh;
	min-width:                   99vw;
	margin:                      0;
	background:                  linear-gradient(var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%) fixed;
	z-index:                     2;
	scroll-behavior:             smooth;
}

* {
	box-sizing: border-box;
	color:      var(--CustomTextColor);
}


body {
	margin:          0;
	display:         flex;
	justify-content: center;
	align-items:     center;
	font-family:     Calibri, sans-serif, monospace;
	color:           var(--CustomTextColor);
}

.side-text-left {
	/* left-only */
	background:              -webkit-linear-gradient(
			                         var(--CustomBackgroundTop),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomBackgroundBottom));
	left:                    0;
	padding-left:            0.5vw;
	/* duplicate */
	filter:                  Blur(2px);
	white-space:             pre;
	pointer-events:          none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:                   25%;
	height:                  100vh;
	position:                fixed;
	top:                     0;
	font-size:               1.5vh;
	font-family:             serif;
	font-style:              italic;
	z-index:                 -1;
}

.side-text-right {
	/* right-only */
	background:              -webkit-linear-gradient(
			                         var(--CustomBackgroundBottom),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomBackgroundTop)
	                         );
	right:                   0;
	padding-right:           0.5vw;
	rotate:                  180deg;
	/* duplicate */
	filter:                  Blur(2px);
	white-space:             pre;
	pointer-events:          none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:                   25%;
	height:                  100vh;
	position:                fixed;
	top:                     0;
	font-size:               1.5vh;
	font-family:             serif;
	font-style:              italic;
	z-index:                 -1;
}

.main-container {
	--LargeWidthTargetValue:      1920px;
	--LargeWidthTargetPercentage: 50%;

	--SmallWidthTargetValue:      600px;
	--SmallWidthTargetPercentage: 100%;

	width:                        50%;
	min-height:                   100vh;
	background-color:             var(--CustomContainerBackground);
	display:                      flex;
	flex-direction:               column;
	justify-content:              flex-start;
	align-items:                  center;
	padding:                      0.5rem;
}

@media (min-width: 1920px) or (orientation: landscape) {
	.main-container {
		width: 55%;
	}
}

@media (max-width: 1919px) and (min-width: 1081px) and (orientation: landscape) {
	/*
	MinWidthPx:    1080;
	MinWidthRatio: 1.00;
	MaxWidthPx:    1920;
	MaxWidthRatio: 0.55;
	https://www.geogebra.org/
	Point 1: (MinPX, MinVW * MinPX)
	Point 2: (MaxPx, MaxVW * MaxPx)
	--Y:             0.09;
	--B:             987px;
	*/
	.main-container {
		width: calc(-0.03 * 100vw + 1110px); /* linear equation for smooth zooming form 50-100 vw*/
		/* width: calc(0.09 * 100vw + 987px); /* linear equation for smooth zooming form 60-100 vw */
	}
}

@media (max-width: 1080px) or (orientation: portrait) {
	.main-container {
		width: 100%;
	}
}

img {
	border: 1px solid var(--CustomContainerBackground);
	width:  100%;
}

button {
	border:          none;
	text-align:      center;
	display:         flex;
	justify-content: center;
	align-items:     center;
	text-transform:  uppercase;
	letter-spacing:  0.2rem;
	color:           ghostwhite;
	font-family:     "160MKSDAL", sans-serif;
	font-weight:     bold;
	width:           100%;
}

.logotype {
	margin-top:    2.25rem;
	margin-bottom: 2.25rem;
	width:         75%;
}

.banner-photo {
	visibility: visible;
}

@media (orientation: landscape) {
	.logotype {
		margin-top:    2.25rem;
		margin-bottom: 2.25rem;
		width:         75%;
	}

	.decoration-photo {
		display: block;
	}
}

@media (orientation: portrait) {
	.logotype {
		margin-top:    0.25rem;
		margin-bottom: 0.25rem;
		width:         100%;
	}

	.decoration-photo {
		display: none;
	}
}

.navbar-outer-container {
	display:          flex;
	flex-direction:   column;
	justify-content:  center;
	align-items:      center;
	width:            100%;
	padding:          0.25rem 0rem;
	background-color: var(--CustomContainerBackground);
	position:         sticky;
	top:              0;
}

.navbar-inner-container {
	display:          flex;
	justify-content:  space-between;
	align-items:      center;
	width:            100%;
	background-color: var(--CustomDarkBlue);
	position:         sticky;
	padding:          0.5rem;
	top:              0;
	gap:              0.5rem;
}

@media (orientation: landscape) {
	.navbar-inner-container {
		flex-direction: row;
	}
}

@media (orientation: portrait) {
	.navbar-inner-container {
		flex-direction: column;
	}
}

.navbar-header-text {
	flex:        1;
	width:       100%;
	text-align:  left;
	font-size:   25px;
	font-family: "160MKSDAL", sans-serif;
	color:       ghostwhite;
}

@media (orientation: landscape) {
	.navbar-header-text {
		display: none;
	}
}

@media (orientation: portrait) {
	.navbar-header-text {
		display: block;
	}
}

.navbar-button {
	border:           solid black 1px;
	background-color: var(--CustomBlack);
	z-index:          1;
	position:         relative;
	flex:             1;
	min-height:       2rem;
	border-radius:    0.5rem;
	overflow:         hidden;
}

.navbar-button-gradient {
	position:   absolute;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	background: linear-gradient(45deg,
	var(--Button-Dark) 0%,
	transparent 33.3%,
	var(--Button-Light) 33.3%,
	transparent 50%,
	var(--Button-Light) 66.6%,
	transparent 66.6%,
	var(--Button-Dark) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Dark) 0%,
			transparent 33.3%,
			var(--Button-Light) 33.3%,
			transparent 50%,
			var(--Button-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Dark) 100%) no-repeat;
}

@media (orientation: portrait) {
	.navbar-button-gradient {
		background: linear-gradient(45deg,
		var(--Button-Dark) 0%,
		transparent 25%,
		var(--Button-Light) 25%,
		transparent 50%,
		var(--Button-Light) 75%,
		transparent 75%,
		var(--Button-Dark) 100%) no-repeat,
		            linear-gradient(135deg,
				var(--Button-Dark) 0%,
				transparent 25%,
				var(--Button-Light) 25%,
				transparent 50%,
				var(--Button-Light) 75%,
				transparent 75%,
				var(--Button-Dark) 100%) no-repeat;
	}
}

.navbar-button-text {
	z-index:        1;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color:          ghostwhite;
	pointer-events: none;
}

button:hover, button:active {
	cursor: pointer;
}

button:hover::before, button:active::before {
	z-index: 1;
	content: ">>";
}

button:hover::after, button:active::after {
	z-index: 1;
	content: "<<";
}

button:hover .navbar-button-gradient {
	background: linear-gradient(45deg,
	var(--Button-Hover-Dark) 0%,
	transparent 33.3%,
	var(--Button-Hover-Light) 33.3%,
	transparent 50%,
	var(--Button-Hover-Dark) 66.6%,
	transparent 66.6%,
	var(--Button-Hover-Light) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Hover-Dark) 0%,
			transparent 33.3%,
			var(--Button-Hover-Light) 33.3%,
			transparent 50%,
			var(--Button-Hover-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Hover-Dark) 100%) no-repeat;

}

.section-header {
	width:             100%;
	font-family:       "160MKSDAL", sans-serif;
	text-transform:    lowercase;
	scroll-margin-top: 1.75rem;
	background:        linear-gradient(-90deg, var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%);
	padding:           0.25rem 0rem 0.25rem 0.5rem;
	margin-bottom:     0.25rem;
}

.section-header::before {
	content: "// ";
}

sup { vertical-align: top; font-size: 0.6em; }

.footer {
	font-family: "160MKSDAL", sans-serif;
	position:    relative;
	width:       100%;
}

.footer-image {
	width:   100%;
	height:  auto;
	display: block;
}

.footer-content {
	position:        absolute;
	bottom:          0;
	padding:         0.25rem;
	text-transform:  lowercase;
	color:           var(--CustomTextColor);
	left:            50%;
	transform:       translateX(-50%);
	display:         flex;
	justify-content: space-between;
	width:           100%;
}