:root {
	/* Color Scheme */
	--CustomBlack:               rgb(20, 20, 20);
	--CustomDarkBlue:            rgb(37, 57, 87);
	--CustomBlue:                rgb(33, 72, 99);
	--CustomTeal:                rgb(21, 88, 120);
	--CustomGray:                rgb(112, 114, 115);
	--CustomLightGray:           rgb(195, 196, 196);
	/* Interface Colors */
	--CustomContainerBackground: rgb(142, 156, 179);
	--CustomTextColor:           rgb(182, 198, 224);
	--CustomBackgroundTop:       rgb(56, 71, 103);
	--CustomBackgroundBottom:    rgb(35, 47, 68);
	/* Button Colors */
	--Button-Dark:               rgb(37, 57, 87);
	--Button-Light:              rgb(56, 71, 103);
	--Button-Hover-Dark:         rgb(168, 138, 88);
	--Button-Hover-Light:        rgb(187, 152, 104);
}

* {
	box-sizing: border-box;
	color:      var(--CustomTextColor);
}

:root {
	min-height: 100vh;
	min-width:  99vw;
	margin:     0;
	background: linear-gradient(var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%) fixed;
	z-index:    2;
}

body {
	margin:          0;
	display:         flex;
	justify-content: center;
	align-items:     center;
	font-family:     Arial, Sans-Serif, monospace;
	color:           var(--CustomTextColor);
}

.snow-container {
	z-index:  -1;
	width:    100%;
	height:   100%;
	position: fixed;
	top:      0;
	filter:   blur(1px);
}

.side-text-left {
	/* left-only */
	background:              -webkit-linear-gradient(
			                         var(--CustomBackgroundTop),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomBackgroundBottom));
	left:                    0;
	padding-left:            0.5vw;
	/* duplicate */
	filter:                  Blur(2px);
	white-space:             pre;
	pointer-events:          none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:                   25%;
	height:                  100vh;
	position:                fixed;
	top:                     0;
	font-size:               1.5vh;
	font-family:             serif;
	font-style:              italic;
	z-index:                 -1;
}

.side-text-right {
	/* right-only */
	background:              -webkit-linear-gradient(
			                         var(--CustomBackgroundBottom),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomContainerBackground),
			                         var(--CustomBackgroundTop)
	                         );
	right:                   0;
	padding-right:           0.5vw;
	rotate:                  180deg;
	/* duplicate */
	filter:                  Blur(2px);
	white-space:             pre;
	pointer-events:          none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:                   25%;
	height:                  100vh;
	position:                fixed;
	top:                     0;
	font-size:               1.5vh;
	font-family:             serif;
	font-style:              italic;
	z-index:                 -1;
}

.main-container {
	--LargeWidthTargetValue:      1920px;
	--LargeWidthTargetPercentage: 50%;

	--SmallWidthTargetValue:      600px;
	--SmallWidthTargetPercentage: 100%;

	width:                        50%;
	min-height:                   100vh;
	background-color:             var(--CustomContainerBackground);
	display:                      flex;
	flex-direction:               column;
	justify-content:              flex-start;
	align-items:                  center;
	padding:                      0.5rem;
}

img {
	border: 1px solid var(--CustomContainerBackground);
	width:  100%;
}

@media (min-width: 1920px) {
	.main-container {
		width: 50%;
	}
}

@media (max-width: 1919px) and (min-width: 1081px) {
	.main-container {
		width: calc(-0.143 * 100vw + 1235px); /* linear equation for smooth zooming */
	}

	/*
	.scrolling-aesthetic-text-side-container-left {
		width: calc(50vw - ((-0.143 * 100vw + 1235px)/2));
	}
	.scrolling-aesthetic-text-side-container-right {
		width: calc(50vw - ((-0.143 * 100vw + 1235px)/2));
	}
	*/
}

@media (max-width: 1080px) {
	.main-container {
		width: 100%;
	}
}

.navbar-outer-container {
	display:          flex;
	justify-content:  center;
	align-items:      center;
	width:            100%;
	padding:          0.25rem 0rem;
	background-color: var(--CustomContainerBackground);
	position:         sticky;
	top:              0;
}

.navbar-inner-container {
	display:          flex;
	justify-content:  space-between;
	align-items:      center;
	width:            100%;
	background-color: var(--CustomDarkBlue);
	position:         sticky;
	padding:          0.5rem 0rem;
	top:              0;
}

button {
	border:          none;
	text-align:      center;
	display:         flex;
	justify-content: center;
	align-items:     center;
	text-transform:  uppercase;
	font-weight:     bold;
	letter-spacing:  0.2rem;
	color:           ghostwhite;
	font-size:       small;
}

.navbar-button {
	border:           solid black 1px;
	background-color: var(--CustomBlack);
	z-index:          1;
	position:         relative;
	flex:             1;
	margin:           0rem 0.25rem;
	min-height:       2rem;
	border-radius:    0.5rem;
	overflow:         hidden;
}

.navbar-button-gradient {
	position:   absolute;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	background: linear-gradient(45deg,
	var(--Button-Dark) 0%,
	transparent 33.3%,
	var(--Button-Light) 33.3%,
	transparent 50%,
	var(--Button-Light) 66.6%,
	transparent 66.6%,
	var(--Button-Dark) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Dark) 0%,
			transparent 33.3%,
			var(--Button-Light) 33.3%,
			transparent 50%,
			var(--Button-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Dark) 100%) no-repeat;
}

.navbar-button-text {
	z-index:        1;
	text-transform: uppercase;
	font-weight:    bold;
	letter-spacing: 0.2rem;
	color:          ghostwhite;
	pointer-events: none;
}

button:hover {
	/* empty */
}

button:hover::before {
	z-index: 1;
	content: ">";
}

button:hover::after {
	z-index: 1;
	content: "<";
}

button:hover .navbar-button-gradient {
	background: linear-gradient(45deg,
	var(--Button-Hover-Dark) 0%,
	transparent 33.3%,
	var(--Button-Hover-Light) 33.3%,
	transparent 50%,
	var(--Button-Hover-Dark) 66.6%,
	transparent 66.6%,
	var(--Button-Hover-Light) 100%) no-repeat,
	            linear-gradient(135deg,
			var(--Button-Hover-Dark) 0%,
			transparent 33.3%,
			var(--Button-Hover-Light) 33.3%,
			transparent 50%,
			var(--Button-Hover-Light) 66.6%,
			transparent 66.6%,
			var(--Button-Hover-Dark) 100%) no-repeat;

}

.section-header {
	width:             100%;
	text-transform:    lowercase;
	scroll-margin-top: 4.25rem;
	background:        linear-gradient(-90deg, var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%);
	padding:           0.25rem 0rem 0.25rem 0.5rem;
	margin-bottom:     0.2rem;
}

.section-header::before {
	/* content: "\21A7    "; //unicode for down arrow */
	content: "// ";
}

.projects-container {
	width:            100%;
	aspect-ratio:     16/9;
	display:          flex;
	padding:          0.25rem 0.25rem;
	background-color: var(--CustomDarkBlue);
}

.projects-item-outside-container {
	height:     100%;
	flex:       1;
	background: var(--CustomDarkBlue);
	padding:    0.25rem;
	overflow:   hidden;
}

.projects-item-middle-container {
	width:            100%;
	height:           100%;
	background-color: var(--CustomContainerBackground);
	padding:          0.25rem;
	overflow:         hidden;
	display:          flex;
	flex-direction:   column;
}

.projects-item-inside-container {
	flex-grow:      1;
	width:          100%;
	padding:        1rem;
	display:        flex;
	flex-direction: column;
	background:     linear-gradient(var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%);
}

.projects-item-header {
	color:          ghostwhite;
	width:          100%;
	text-transform: uppercase;
	padding:        0.25rem 0rem 0.25rem 0.25rem;
}

.projects-item-picture {
	width:        100%;
	aspect-ratio: 4/3;

	object-fit:   fill;
}

.projects-item-text {
	padding-top: 0.5rem;
	width:       100%;
	height:      100%;
}

.about-container {
	display:      flex;
	aspect-ratio: 3;
}

.about-photo-container {
	aspect-ratio: 1/1;
	height:       100%;
	padding:      2rem;
	background:   linear-gradient(var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%);
	margin-right: 0.1rem;
}

.about-content-container {
	display:        flex;
	flex-direction: column;
	height:         100%;
	width:          100%;
	background:     linear-gradient(var(--CustomBackgroundTop) 0%, var(--CustomBackgroundBottom) 100%);
	margin-left:    0.1rem;
}

.about-navigation {
	width:         100%;
	height:        10%;
	border-bottom: 0.2rem solid var(--CustomContainerBackground);
	display:       flex;
}

.about-navigation-button-selected {
	flex:             1;
	border-radius:    0;
	background-color: var(--CustomContainerBackground);
}

.about-navigation-button-unselected {
	flex:             1;
	border-radius:    0;
	background-color: transparent;
}

.about-text {
	width:         100%;
	height:        85%; /* keep spacing equal for button conatienr */
	padding:       1rem;
	overflow:      hidden;
	text-overflow: ellipsis;
}

.about-text-middle-container-link-container {
	width:           100%;
	height:          10%;
	display:         flex;
	padding:         0rem 0.75rem;
	justify-content: space-around;
	text-align:      center;
	align-items:     center;
}

.about-text-middle-container-link-button {
	width:   100%;
	height:  2rem;
	display: flex;
}

.about-text-inner-container {
	padding:       0.5rem;
	flex:          1;
	height:        100%;
	width:         100%;
	text-overflow: ellipsis;
}

.photography-grid-container {
	width:            100%;
	display:          flex;
	background-color: var(--CustomDarkBlue);
	padding:          0.25rem;
}

.photography-seek-container {
	width:           100%;
	aspect-ratio:    20/1;
	display:         flex;
	justify-content: space-between;
	margin-bottom:   0.2rem;
}

.phoography-grid-seek-button {
	width:      auto;
	object-fit: contain;
	padding:    0.25rem;
}

.photography-grid {
	flex:           1;
	display:        flex;
	flex-direction: column;
	gap:            0.5rem;
	padding:        0.25rem;
}

.photography-grid-image {
	width:  100%;
	height: auto;
}

.footer {
	position: relative;
	width:    100%;
}

.footer-image {
	width:   100%;
	height:  auto;
	display: block;
}

.footer-content {
	position:        absolute;
	bottom:          0;
	padding:         0.25rem;
	text-transform:  lowercase;
	color:           var(--CustomTextColor);
	left:            50%;
	transform:       translateX(-50%);
	display:         flex;
	justify-content: space-between;
	width:           100%;
}

/* snow - start */
.snow-container {
	 z-index: -1;
	 padding: 0;
	 margin: 0;
	 width: 100vw;
	 height: 100vh;
	 position: fixed;
	 overflow: hidden;
}
 .snowflake-left, .snowflake-right {
	 width: 0.25em;
	 height: 0.25em;
	 background: white;
	 border-radius: 50%;
	 position: absolute;
	 top: -5vh;
}
 @keyframes snowfall {
	 0% {
		 transform: translate(var(--side-ini), 0);
	}
	 100% {
		 transform: translate(var(--side-end), 110vh);
	}
}
 .snowflake-left:nth-child(1) {
	 --side-ini: 16vw;
	 --side-end: 7vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -4s;
}
 .snowflake-left:nth-child(2) {
	 --side-ini: 1vw;
	 --side-end: 3vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -2s;
}
 .snowflake-left:nth-child(3) {
	 --side-ini: 9vw;
	 --side-end: 2vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -6s;
}
 .snowflake-left:nth-child(4) {
	 --side-ini: 13vw;
	 --side-end: 1vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-left:nth-child(5) {
	 --side-ini: 5vw;
	 --side-end: 24vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-left:nth-child(6) {
	 --side-ini: 21vw;
	 --side-end: 2vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-left:nth-child(7) {
	 --side-ini: 25vw;
	 --side-end: 2vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -5s;
}
 .snowflake-left:nth-child(8) {
	 --side-ini: 22vw;
	 --side-end: 11vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-left:nth-child(9) {
	 --side-ini: 16vw;
	 --side-end: 1vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-left:nth-child(10) {
	 --side-ini: 15vw;
	 --side-end: 2vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-left:nth-child(11) {
	 --side-ini: 24vw;
	 --side-end: 16vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -6s;
}
 .snowflake-left:nth-child(12) {
	 --side-ini: 25vw;
	 --side-end: 4vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-left:nth-child(13) {
	 --side-ini: 8vw;
	 --side-end: 18vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -6s;
}
 .snowflake-left:nth-child(14) {
	 --side-ini: 20vw;
	 --side-end: 17vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -7s;
}
 .snowflake-left:nth-child(15) {
	 --side-ini: 20vw;
	 --side-end: 5vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-left:nth-child(16) {
	 --side-ini: 7vw;
	 --side-end: 19vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -4s;
}
 .snowflake-left:nth-child(17) {
	 --side-ini: 2vw;
	 --side-end: 10vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-left:nth-child(18) {
	 --side-ini: 4vw;
	 --side-end: 25vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -10s;
}
 .snowflake-left:nth-child(19) {
	 --side-ini: 17vw;
	 --side-end: 12vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-left:nth-child(20) {
	 --side-ini: 23vw;
	 --side-end: 16vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-left:nth-child(21) {
	 --side-ini: 23vw;
	 --side-end: 2vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -4s;
}
 .snowflake-left:nth-child(22) {
	 --side-ini: 10vw;
	 --side-end: 10vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-left:nth-child(23) {
	 --side-ini: 16vw;
	 --side-end: 13vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-left:nth-child(24) {
	 --side-ini: 20vw;
	 --side-end: 1vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-left:nth-child(25) {
	 --side-ini: 6vw;
	 --side-end: 2vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -5s;
}
 .snowflake-right:nth-child(1) {
	 --side-ini: 87vw;
	 --side-end: 82vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-right:nth-child(2) {
	 --side-ini: 82vw;
	 --side-end: 94vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-right:nth-child(3) {
	 --side-ini: 90vw;
	 --side-end: 96vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-right:nth-child(4) {
	 --side-ini: 90vw;
	 --side-end: 81vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -2s;
}
 .snowflake-right:nth-child(5) {
	 --side-ini: 96vw;
	 --side-end: 83vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-right:nth-child(6) {
	 --side-ini: 92vw;
	 --side-end: 92vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-right:nth-child(7) {
	 --side-ini: 97vw;
	 --side-end: 81vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -5s;
}
 .snowflake-right:nth-child(8) {
	 --side-ini: 82vw;
	 --side-end: 96vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -10s;
}
 .snowflake-right:nth-child(9) {
	 --side-ini: 79vw;
	 --side-end: 78vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-right:nth-child(10) {
	 --side-ini: 78vw;
	 --side-end: 88vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-right:nth-child(11) {
	 --side-ini: 88vw;
	 --side-end: 87vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -10s;
}
 .snowflake-right:nth-child(12) {
	 --side-ini: 89vw;
	 --side-end: 89vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-right:nth-child(13) {
	 --side-ini: 84vw;
	 --side-end: 87vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -10s;
}
 .snowflake-right:nth-child(14) {
	 --side-ini: 91vw;
	 --side-end: 89vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-right:nth-child(15) {
	 --side-ini: 86vw;
	 --side-end: 92vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-right:nth-child(16) {
	 --side-ini: 92vw;
	 --side-end: 86vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -8s;
}
 .snowflake-right:nth-child(17) {
	 --side-ini: 96vw;
	 --side-end: 82vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-right:nth-child(18) {
	 --side-ini: 81vw;
	 --side-end: 81vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -6s;
}
 .snowflake-right:nth-child(19) {
	 --side-ini: 78vw;
	 --side-end: 76vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -3s;
}
 .snowflake-right:nth-child(20) {
	 --side-ini: 79vw;
	 --side-end: 95vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-right:nth-child(21) {
	 --side-ini: 88vw;
	 --side-end: 81vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -2s;
}
 .snowflake-right:nth-child(22) {
	 --side-ini: 97vw;
	 --side-end: 84vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -1s;
}
 .snowflake-right:nth-child(23) {
	 --side-ini: 82vw;
	 --side-end: 97vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -9s;
}
 .snowflake-right:nth-child(24) {
	 --side-ini: 91vw;
	 --side-end: 79vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -2s;
}
 .snowflake-right:nth-child(25) {
	 --side-ini: 93vw;
	 --side-end: 96vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -2s;
}

/* snow - end */